@mixin list-style-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

$background-grey: #eeeeee;
$slider-control-grey: #c1c1c1;
$sort-text-grey: #b8b8b8;
$active-grey: #a7a7a7;
$text-grey: #666666;
$text-dark-grey: #969696;
$social-grey: #e1e1e1;
$dark-grey: #303030;
$header-catalog-item: #4d4d4d;
$border-grey: #dbdbdb;
$pagination-hover-grey: #dfdfdf;
$input-hover-grey: #b4b9bb;
$pagination-active-grey: #d5d5d5;
$range-controls-grey: #d7dcde;
$range-toggle-grey: #ababab;
$black: #000000;
$white: #ffffff;
$light-red: #fb565a;
$red: #e74246;
$dark-red: #d7373b;
$light-green: #00ca74;
$green: #00bc6c;
$dark-green: #00aa62;
$light-yellow: #efc84a;
$yellow: #eab534;
$dark-yellow: #e5a722;
$map-bg-color: #fbf5e4;
