.modal {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 960px;
  height: 590px;
  padding: 73px 100px 84px 100px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: $white;
}

.modal__title {
  font-family: inherit;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.modal__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal__label {
  width: 360px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px;
}

.modal__input {
  box-sizing: border-box;
  width: 360px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-bottom: 36px;
  border: 1px solid $range-controls-grey;
  border-radius: 3px;

  &:hover {
    border-color: $input-hover-grey;
  }

  &:focus {
    border-color: $black;
    outline: $black;
  }
}

.modal__textarea {
  width: 760px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-bottom: 45px;
  border: 1px solid $range-controls-grey;
  border-radius: 3px;

  &:hover {
    border-color: $input-hover-grey;
  }

  &:focus {
    border-color: $black;
    outline: $black;
  }
}

.modal__submit {
  width: 260px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  color: $white;
  padding: 18px;
  background-color: $light-red;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $red;
    transition: 0.3s;
  }

  &:active {
    background-color: $dark-red;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  }
}

.modal__close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: -70px;
  right: -10px;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/close-cross.svg");

  &:hover {
    background-image: url("../img/close-cross-hover.svg");
    transition: 0.3s;
  }

  &:active {
    background-image: url("../img/close-cross-active.svg");
    transition: 0.2s;
  }
}

.modal__visible {
  display: block;
  animation: bounce 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateX(1000px);
  }

  70% {
    transform: translateX(-80px);
  }

  100% {
    transform: translateX(0);
  }
}
