.page-header {
  display: flex;
  justify-content: flex-start;
  width: 1440px;
  margin: 0 auto;
  padding: 49px 140px 0 140px;
  box-sizing: inherit;
  background-color: $background-grey;
}

.page-header__link {
  margin-right: 179px;
}
