.page-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
}

.page-catalog__title {
  width: 100%;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  margin: 0;
  padding-top: 75px;
  padding-bottom: 108px;
  background-color: $background-grey;
  margin-bottom: 59px;
}
