.products {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.products__card {
	width: 300px;
	margin-right: 100px;

	&:nth-child(3n+1) {
		margin-right: 0;
	}
}
