.slider {
  position: relative;
  width: 1440px;
  height: 427px;
  background-color: $background-grey;
  margin: 0 auto;
  padding: 0 140px;
  box-sizing: border-box;
}

.slider__item {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 1160px;
  padding-right: 32px;
  padding-top: 15px;
  padding-bottom: 80px;
}

.slider__first {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 430px 15px;
}

.slider__second {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 500px 0;
}

.slider__third {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 400px 19px;
}

.slider__title {
  width: 376px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  padding-top: 60px;
  margin: 0;
}

.slider__title--first {
  width: 376px;
}

.slider__title--second {
  width: 515px;
}

.slider__title--third {
  width: 408px;
}

.slider__text {
  line-height: 24px;
  margin: 0;
  padding-top: 25px;
}

.slider__item--hide {
  opacity: 0;
  transition: 0.7s;
}

.slider__radio-first:checked ~ div.slider__first {
  opacity: 1;
  transition: 0.7s;
}

.slider__radio-second:checked ~ div.slider__second {
  opacity: 1;
  transition: 0.7s;
}

.slider__radio-third:checked ~ div.slider__third {
  opacity: 1;
  transition: 0.7s;
}

.slider__controls {
  position: absolute;
  display: flex;
  margin: auto;
  font-size: 0;
  bottom: 96px;
  right: 660px;
  z-index: 1000;
}

.slider__label {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: $white;
  cursor: pointer;
}

.slider__control-indicator {
  display: none;
  width: 5px;
  height: 5px;
  margin: 6px;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  border: 1px solid $slider-control-grey;
}

.slider__radio-first:checked ~ .slider__controls .slider__control-indicator--first {
  display: block;
}

.slider__radio-second:checked ~ .slider__controls .slider__control-indicator--second {
  display: block;
}

.slider__radio-third:checked ~ .slider__controls .slider__control-indicator--third {
  display: block;
}

.slider__link {
  display: block;
  width: 240px;
  border-radius: 3px;
  padding: 17px 0 15px 0;
  margin-top: 39px;
  background-color: $red;
  color: $white;
  text-align: center;

  &:hover {
    background-color: $light-red;
  }

  &:active {
    background-color: $dark-red;
    color: $light-red;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  }
}
