.social {
  display: flex;
  justify-content: flex-start;
}

.social__link {
  width: 79px;
  height: 79px;
  font-size: 0;
  margin-right: 12px;
  border-radius: 50%;
  background-color: $social-grey;

  &:hover {
    background-color: $red;
    transition: .5s;
  }

  &:active {
    background-color: $dark-red;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.social__vkontakte {
  fill: $white;
  padding-top: 31px;
  padding-left: 27px;
}

.social__facebook {
  fill: $white;
  padding-top: 26px;
  padding-left: 33px;
}

.social__instagramm {
  fill: $white;
  padding-top: 28px;
  padding-left: 28px;
}
