.sort-form {
  width: 261px;
  margin-left: 140px;
}

.sort-form__grid {
  display: flex;
  flex-direction: column;
}

.sort-form__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
